* { 
    margin: 0; 
    padding: 0; 
    box-sizing: border-box; 
}
body { 
    display: flex; 
    flex-direction: column; 
    min-height: 100vh; 
    font-family: sans-serif; 
}
#navbar { 
    background: #f4a261; 
    height: 50px; 
}
#header {
    background: #e76f51; 
    height: 60px; 
}

#calendar-section { 
    background: #2a9d8f; 
    flex: 1;
    display: flex; 
    flex-direction: column; 
}

/*============================================================== 
  Create event Modal start
  ============================================================== */
/*Common styling start*/
.form-btn{
    padding: 10px 15px;
    border: none;
    border-radius: 50px;
    transition: ease-in-out 0.3s;
}
.form-btn:hover{
    color: white;
    background-color: red;
}
/*Common styling start*/
#open{
    width: 310px;
    height: 90px;
    border: none;
    border-radius: 50px;
    background-color: #b0dbb2;
    box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.2);
    text-align: center;
    transition: ease-in-out 0.3s;
}
#open:hover{
    background-color: white;
}
.modal-container{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.3);
    opacity: 0;
    pointer-events: none;
}
.modal{
    width: 600px;
    max-width: 100%;
    padding: 30px 50px;
    border-radius: 8px;
    background-color: white;
    box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.2);
}
.form-header{
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}
#close{}
#eventForm{}
form div {
  margin-bottom: 15px;
}
label {
  display: block;
  margin-bottom: 5px;
  font-weight: 600;
  color: #333;
}
input, textarea {
  width: 100%;
  padding: 8px 12px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 14px;
  box-sizing: border-box;
}
input:focus, textarea:focus {
  outline: none;
  border-color: rgba(0, 0, 0, 0.5);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}
#eventDescription{
    max-width: 100%;
    min-width: 100%;
}
.modal-actions{
    display: flex;
    justify-content: space-between;
}
.modal-actions button{}
.modal-actions button:hover{
    color: #333;
    background-color: #b0dbb2;
}
/*============================================================== 
  Create event Modal end
  ============================================================== */

#footer-actions { 
    background: #a8dadc; 
    height: 200px; 
}